spring.application.name=backend
spring.datasource.url=jdbc:postgresql://localhost:5432/TA_BASE
spring.datasource.username=TON_USERNAME_POSTGRES
spring.datasource.password=TON_MOT_DE_PASSE_POSTGRES
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
server.port=8085
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=TON_EMAIL@gmail.com
spring.mail.password=TON_MOT_DE_PASSE_APPLICATION
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.properties.mail.smtp.starttls.required=true
spring.security.user.password=disabled
spring.jpa.open-in-view=false